Monday Morning.json
{
  "name": "Monday Morning",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 6
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        -16
      ],
      "id": "82f99dbd-583a-425a-b105-f81a73926a69",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1h7WyqMiSIlifm1dbk4Oy_koO5dNYBIgE1SK19x80-Oc",
          "mode": "list",
          "cachedResultName": "n8n Monday Morning data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h7WyqMiSIlifm1dbk4Oy_koO5dNYBIgE1SK19x80-Oc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1959742007,
          "mode": "list",
          "cachedResultName": "amazon_performance_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h7WyqMiSIlifm1dbk4Oy_koO5dNYBIgE1SK19x80-Oc/edit#gid=1959742007"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -368,
        -16
      ],
      "id": "914c6b6b-68b3-4c84-879b-16aa7e072f06",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OhgqwaGvA8OBhjWm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f0707e8f-75b7-4320-8191-2f1de5e5c265",
              "leftValue": "={{ $json.status }}",
              "rightValue": "VERIFY",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2541e87f-2bee-454c-8f2e-d7483c91d2d1",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        -16
      ],
      "id": "d5aec8d0-4725-41cb-b5ed-f3c22516e6ba",
      "name": "If"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        -96
      ],
      "id": "09098050-5d8f-44ed-88a6-f7ee8dc3d8a8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tzNsScKnNcw0uTfy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.status }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Our e-commerce store sales just dropped by {{ $json.sales_change }}%. Current sales are ${{ $json.current_sales }}. Based on this, write a professional and iinternal update to clients as shown in my example output below. Focus on being calm and data-driven. DO NOT EVER MAKE UP DATA OR INFORMATION. \n\nExample output: \n\"Good Monday,\n\nWe detected a 10% or greater change in revenue compared to last week. Our e-commerce store sales just dropped by {{ $json.sales_change }}%. Current sales are ${{ $json.current_sales }}. We are aware of this discrepancy and will investigate it today\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        144,
        -240
      ],
      "id": "0e675648-061f-4205-aa44-48fc54c0217e",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "sendTo": "Stpolino@gmail.com",
        "subject": "URGENT: Sales Performance Alert",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        496,
        -240
      ],
      "id": "6307a1d8-d03e-43c0-83b0-f964f8d00e55",
      "name": "Send a message",
      "webhookId": "94e4ef8c-8562-48e8-a3c4-d0e8ae07a489",
      "credentials": {
        "gmailOAuth2": {
          "id": "v5sQTEfHU30NZt8n",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get all rows from the Google Sheets node\nconst items = Object.values($input.all());\n\n// 2. Map the data to make it easier to work with\nconst cleanData = items.map(item => ({\n  sales: parseFloat(item.json.Sales),\n  date: new Date(item.json.Date)\n}));\n\n// 3. Sort by date (oldest to newest) to ensure WoW is correct\ncleanData.sort((a, b) => a.date - b.date);\n\n// 4. Get the last two entries\nif (cleanData.length >= 2) {\n  const currentSales = cleanData[cleanData.length - 1].sales;\n  const prevSales = cleanData[cleanData.length - 2].sales;\n  \n  // 5. Calculate percentage change\n  let salesChange = 0;\n  if (prevSales !== 0) {\n    salesChange = ((currentSales - prevSales) / prevSales) * 100;\n  }\n\n  // 6. Set status\n  const status = salesChange < -10 ? 'VERIFY' : 'STABLE';\n\n  return {\n    current_sales: currentSales.toFixed(2),\n    sales_change: salesChange.toFixed(2),\n    status: status\n  };\n} else {\n  return {\n    current_sales: 0,\n    sales_change: 0,\n    status: 'NEED MORE DATA'\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -16
      ],
      "id": "73f82e3e-666f-41db-809c-64b64a32a147",
      "name": "Code in JavaScript",
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "continued on error"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "43ac1305-1e2d-4a3c-b9a0-844e5696b87e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36c00d3629e4211cbe981056a11ed6de5afb3a446e48a3fed40620ee80f59f1a"
  },
  "id": "GqQE388EHvXg835vj0R3X",
  "tags": []
}